*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 30px 0px;
    display: grid;
    justify-content: center;
}

.content {
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    justify-items: center;
    gap: 28px 28px;
}

.brand img {
    width: 108px;
    height: 24px;
}