<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Layout 1</title>
	<link rel="stylesheet" href="./assets/css/layout1.css">
</head>

<body>
	<section class="root">
		<header class="navbar grid-center">Navbar</header>
		<aside class="sidebar grid-center">Sidebar</aside>
		<main class="app grid-center">
			<div>
				<span>APP</span>
				<span>(Auto width)</span>
			</div>
		</main>
		<footer class="footer grid-center">Footer</footer>
	</section>
</body>

</html>